<h1>New quiz</h1>

<% @quiz.questions.each do |question| %>
  <form method="post" action="/Attemp/Post">
      <fieldset>
        <legend><%= question.content %></legend>
          <% question.answers.each do |answer| %>
            <input type="radio" name="favorite_pet" value="<%= answer.content %>"><%= answer.content %><br>
            <br>
          <% end %>
      </fieldset>
    <input type="submit" value="Submit now">
  </form>
<% end %>
