<div class="home-container">
  <div class="cards">
    <% @quizzes.each do |quiz| %>
      <%= link_to quiz_path(quiz) do %>
        <div class="quiz-card" data-quiz-id="<%= quiz.id %>">
          <h4><%= quiz.title %></h4>
          <p><%= quiz.difficulty %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
