.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.quiz-card {
  position: relative;
  border-radius: 5px;
  background-color: #2A1E5C;
  height: 200px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  a {
    text-decoration: none !important;
  }
  &:hover {
    background-color: #175DDC;
  }
  p {
    position: absolute;
    right: 32px;
    bottom: 15px;
  }
}

.home-quiz-score {
  position: absolute;
  right: 27px;
  top: 17px;
  font-size: 20px;
}
